
body {
    text-align: center;
    background-image: url(img/stranger.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

#div1 {
    border: 2px solid white;
    border-color: rgba(0, 0, 0, 0.6);
    width: 450px;
    padding: 20px;
    display: inline-block;
    margin-top: 20%;
    background-color: rgba(255, 255, 255, 0.1)
}
#div2 {
    border: 2px solid white;
    border-color: rgba(0, 0, 0, 0.6);
    width: 450px;
    padding: 20px;
    display: inline-block;
    margin-top: 20%;
    background-color: rgba(255, 255, 255, 0.1)
}
#div3 {
    border: 2px solid white;
    border-color: rgba(0, 0, 0, 0.6);
    width: 450px;
    padding: 20px;
    display: inline-block;
    margin-top: 20%;
    background-color: rgba(255, 255, 255, 0.1)
}
p, h1 {
    font-size: 30px;
    color: white;
    margin: 15px;
}

#login {
    color: white;
    font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgb(82, 0, 0);
}
#myBtn2 {
    color: white;
    font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgb(82, 0, 0);
}


input {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 20px;
}

